:host {
  position: relative;
}

.contextMenu {
  position: absolute;
  top: 0;
  left: 100%;
  button {
    white-space: nowrap;
    display: block;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    height: 2rem;
    &:hover {
      font-weight: bold;
    }
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    position: relative;
    display: block;
    &.active {
      background: rgba(255,255,255, 0.4);
    }
  }
  ul {
    position: relative;
    background: #cfcfcf;
    ul {
      position: absolute;
      top: 0;
      left: 100%;
      background: #dfdfdf;
      transform: translateY(calc(-50% + 1rem));
    }
  }
}