<ng-template #menuRef let-data>
  <ul>
    <ng-container *ngFor="let item of data">
      <li (mouseenter)="item.active = true" (mouseleave)="item.active = false">
        <button>
          {{ item.label }}
          <ng-container *ngIf="item?.child?.length">
            ({{ item | countChildren }})
            &gt;
          </ng-container>
        </button>

        <ng-container *ngIf="item.child?.length && item.active">
          <ng-template
            [ngTemplateOutlet]="menuRef"
            [ngTemplateOutletContext]="{ $implicit: item.child }">
          </ng-template>
        </ng-container>

      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-content></ng-content>

<div class="contextMenu" *ngIf="isVisible">
  <ng-template
    [ngTemplateOutlet]="menuRef"
    [ngTemplateOutletContext]="{ $implicit: data }">
  </ng-template>
</div><!--/contextMenu-->
